body{
    background-color: #252525;
    color: white;
}

/* Untuk browser berbasis Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Untuk Firefox */
  html {
    scrollbar-width: none;
  }
  
  /* Untuk Internet Explorer dan Edge */
  body {
    -ms-overflow-style: none;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}


